.brands_container{
	margin-left: 22px;
	.brands_blocks{
		border:1px solid $gray;
		margin: 68px 0;
		.brand_block{
			height: 181px;
	    	line-height: 181px;
	    	text-align:center;
			border-bottom:1px solid $gray;
			border-right:1px solid $gray;
			a{
				img{
					vertical-align:middle;		
					width: 80%;
				}
			}
			
		}
	}
	.brand_description{
		width: 70%;
		float:left;
		p{
			margin-bottom: 20px;
		}
	}
	.brand_img{
		margin: 70px 0;
		width: 30%;
		float:right;
		img{
			width: 70%;
		}
	}
}
